<nav class="navbar">
    <p-toast position="bottom-center"></p-toast>

    <div class="navbar-left">
        <a *ngIf="isLoggedIn()" class="nav-link" routerLink="/">
            Home
        </a>
    </div>

    <div class="navbar-right" *ngIf="authService.getUserDetail() as userDetail">
        <div class="user-details">
            <h1 class="user-name">{{ userDetail?.fullName }}</h1>
            <span class="user-role">{{ userDetail?.roles }}</span>
        </div>
        <p-menubar [model]="menuBarItems" class="user-menu-button"></p-menubar>
    </div>

    <div class="navbar-right" *ngIf="!isLoggedIn()">
        <a pButton routerLink="/login" label="Login" class="p-button-text nav-link"></a>
        <a pButton routerLink="/help" label="Help" class="p-button-text nav-link"></a>
        <a pButton routerLink="/about" label="About" class="p-button-text nav-link"></a>
        <a pButton routerLink="/contact" label="Contact" class="p-button-text nav-link"></a>
    </div>
</nav>
