<div class="card flex justify-content-center">
  <p-toast position="top-right"></p-toast>
  <p-dialog header="Work Timeline" [modal]="true" [(visible)]="visible" [style]="{ width: '650px', height: '680px' }"
    [maximizable]="true" (onHide)="resetForm()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="workDate">Selected Date</label>
        <p>{{ selectedDate | date : "dd-MMM-yyyy" }}</p>
      </div>
      <div style="margin-bottom: 20px"></div>
      <div class="p-field flex-auto">
        <label for="projectTitle">Project Title</label>
        <div style="margin-bottom: 12px"></div>
        <!-- <input id="projectTitle" type="text" pInputText [(ngModel)]="projectTitle"> -->
        <p-dropdown id="projectTitle" [(ngModel)]="projectTitle" [options]="projects" optionLabel="keyData"
          placeholder="Select a Project"></p-dropdown>
      </div>
      <div style="margin-bottom: 20px"></div>
      <div class="p-field flex-auto">
        <label for="workType">Work Type</label>
        <div style="margin-bottom: 12px"></div>
        <!-- <input id="workType" type="text" pInputText [(ngModel)]="workType"> -->
        <p-dropdown id="workType"  [(ngModel)]="workType" [options]="typeofwork" optionLabel="keyData"
          placeholder="Select a Work Type"></p-dropdown>
      </div>
      <div style="margin-bottom: 20px"></div>

      <div class="p-field flex-auto">
        <label for="workType">Description (Optional)</label>
        <div style="margin-bottom: 12px"></div>
        <!-- <input id="workType" type="text" pInputText [(ngModel)]="workType"> -->
        <input type="text" pInputText [(ngModel)]="description" placeholder="Enter Description Here" />
      </div>
      <div style="margin-bottom: 20px"></div>

      <div class="p-field-checkbox">
        <div class="checkbox-wrapper" (click)="toggleEnterHours()">
          <p-checkbox id="enterHours" [(ngModel)]="enterHours" binary="true"></p-checkbox>
          <label for="enterHours">Enter hours instead of start and end time(s).</label>
        </div>
      </div>
      <div style="margin-bottom: 20px"></div>

      <div *ngIf="enterHours">
        <div class="p-field">
          <label for="workHours">Work Hours</label>
          <div style="margin-bottom: 12px"></div>
          <input type="number" id="workHours" pInputText [(ngModel)]="workHours" min="1">
        </div>
      </div>
      <div style="margin-bottom: 20px"></div>
      <div *ngIf="!enterHours">
        <div class="p-field flex-auto">
          <div style="display: flex; justify-content: space-between">
            <div style="margin-right: 10px">
              <label for="workStart">Start Time</label>
              <div style="margin-bottom: 12px"></div>
              <p-calendar id="workStart" [(ngModel)]="workStart" [showTime]="true" [hourFormat]="'12'" [timeOnly]="true" stepMinute="15"
                [readonlyInput]="true"></p-calendar>
            </div>
            <div>
              <label for="workEnd">End Time</label>
              <div style="margin-bottom: 12px"></div>
              <p-calendar id="workEnd" [(ngModel)]="workEnd" [showTime]="true" [hourFormat]="'12'" [timeOnly]="true" stepMinute="15"
                [readonlyInput]="true"></p-calendar>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 20px"></div>
      </div>
      <!-- <div class="p-field">
        <button pButton type="button" label="Add Work" (click)="addWork()"></button>
        <button *ngIf="!isEditMode" (click)="addWork()" pButton type="button" label="Add"></button>
        <button *ngIf="isEditMode" (click)="editWork()" pButton type="button" label="Edit"></button>
        <div style="margin-bottom: 12px"></div>
        <button *ngIf="isEditMode" (click)="deleteWork()" pButton type="button" label="Delete"></button>
      </div> -->
    </div>
    <p-footer>
      <button *ngIf="!isEditMode" (click)="addWork()" pButton type="button" label="Add"></button>
      <button *ngIf="isEditMode" (click)="editWork()" pButton type="button" label="Edit"></button>
      <button *ngIf="isEditMode" (click)="deleteWork()" pButton type="button" severity="danger" label="Delete"></button>
    </p-footer>
  </p-dialog>
</div>
<!-- 
<ul>
  <li *ngFor="let group of groupedEvents">
    <b>{{ group.date }}</b>
    <br />
    <div *ngFor="let event of group.events">
      <i>{{ getEventTitle(event) }} - {{ event.startStr }}</i>
      <i>{{ event.title}}</i>
    </div>
  </li>
</ul> -->
<full-calendar #calendar *ngIf="calendarVisible()" [options]="calendarOptions()" [events]="employeeCalendarWorkList"></full-calendar>