
<p-toast position="bottom-center"></p-toast>


<div class="h-screen flex items-center justify-center">
    
    
        <form action="" class="shadow-md rounded-md p-5 bg-white w-1/4" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="py-4">
                <h1 class="">
                    Login
                </h1>
                <h6 class="">
                    Login to your account
                </h6>
            </div>
    
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-icon matPrefix>email</mat-icon>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="w-full"> 
                <mat-label>Password</mat-label>
                <input matInput type="{{ hide  ? 'password' : 'text'}}" placeholder="Password" formControlName="password">
                <mat-icon matPrefix>lock</mat-icon>
                <mat-icon (click)="hide = !hide" matSuffix> {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </mat-form-field>
    
    
            <button 
                    type="submit"
                    pButton 
                    pRipple
                    label="Login"
                    [disabled]="!loginForm.valid"
                    size="large"
                    class="full-width-button"
                    >
            </button>

            <div>
                <br>
            <a class="text-purple-900" class="center-link" [routerLink]="['/help']">Contact for help with login</a>
        </div>
        </form>
    
    </div>