/* Add custom styles here */
.flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .pt-20 {
    padding-top: 5rem;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .mt-10 {
    margin-top: 2.5rem;
  }
  
  .text-green-600 {
    color: hsl(158, 63%, 34%);
  }
  
  .text-5xl {
    font-size: 3.125rem;
  }
  
  .items-center {
    align-items: center;
  }
  
  .gap-5 {
    gap: 1.25rem;
  }
  
  .w-80 {
    width: 20rem;
  }
  
  .bg-blue-600 {
    background-color: #2563EB;
  }
  
  .text-white {
    color: #fff;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .w-full {
    width: 100%;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-start {
    justify-content: flex-start;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .mt-1 {
    margin-top: 0.25rem;
  }

  .pl-10{
    padding-left: 2.5rem;
  }
  